{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
	.person-tile-container {
		position: absolute;
	}

	.person-tile {
		position: absolute;
		width: 104px;
		border: 2px solid darkgrey;
		cursor: pointer;
	}

		.person-tile .person-profile-pic {
			height: 100px;
			width: 100px;
			background: #ccc;
		}

			.person-tile .person-profile-pic img {
				width: 90px;
				height: 90px;
				margin: 5px;
			}

		.person-tile .person-details {
			height: 20px;
			width: 100px;
			font-family: Segoe UI;
			/* Center Align the Person's Name */
			text-align: center;
			vertical-align: middle;
		}

	.profile-tile-connector {
		position: absolute;
		border: 1px solid grey;
	}

		.profile-tile-connector.vertical-line {
			height: 35px;
		}
</style>

<div class="container">
	<div>My Family Tree</div>
	<hr>
	<div class="family-tree-root">
		<!-- Father Profile -->
		<div class="person-tile-container">
			<div class="person-tile">
				<div class="person-profile-pic">
					<img alt="Sachin Bhat" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/155/138/3be5434.jpg">
				</div>
				<div class="person-details">
					<div class="person-name">Santosh Bhat</div>
				</div>
			</div>
		</div>
		<!-- Mother Profile -->
		<div class="person-tile-container" style="left: 340px;">
			<div class="person-tile">
				<div class="person-profile-pic">
					<img alt="Sachin Bhat" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/155/138/3be5434.jpg">
				</div>
				<div class="person-details">
					<div class="person-name">Savita Bhat</div>
				</div>
			</div>
		</div>
		<!-- Child Profile -->
		<div class="person-tile-container" style="top:326px; left: 229px;">
			<div class="person-tile">
				<div class="person-profile-pic">
					<img alt="Sachin Bhat" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/155/138/3be5434.jpg">
				</div>
				<div class="person-details">
					<div class="person-name">Sachin Bhat</div>
				</div>
			</div>
		</div>
		<!-- Father Profile Tile Connector -->
		<div class="profile-tile-connector vertical-line" style="top: 255px; left: 165px;"></div>
		<!-- Mother Profile Tile Connector -->
		<div class="profile-tile-connector vertical-line" style="top: 255px; left: 395px;"></div>
		<!-- Parent Child Profile Tile Connector -->
		<div class="profile-tile-connector" style="width: 232px; top: 290px; left: 165px;"></div>
		<!-- Child Profile Tile Connector -->
		<div class="profile-tile-connector vertical-line" style="top: 291px; left: 281px;"></div>
	</div>
</div>

<script type="text/javascript">

</script>
{% endblock %}
